html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
}

a {
    cursor: pointer;
}

#information {
    margin: 50px;
    position: absolute;
    color: #CCCCCC;
    z-index: -1;
}

#titulo {
    margin-bottom: 50px;
}

#map {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -2;
}

.cor_vermelho {
    color: #CC2936;
}

.cor_cinzento {
    color: #666666;
}

#options {
    width: 300px;
    height: auto;
}

#option1 div {
    margin: 10px 0px;
}

#option1 div a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;

    text-align: center;
}

.button {
    margin: 10px 0px;
    padding: 5px 30px;
    font-size: 12px;
    border-radius: 50px;
    border: 1px solid #666666;
    background-color: #0D0A0B;
}

.button_selected {
    border: 1px solid #0D0A0B;
    background-color: #CC2936;
    color: #0D0A0B !important;
}

#pt, #en {
    font-size: 10px !important;
    padding: 5px 10px;
}

.padding_top {
    padding: 10px 0px;
}

#label_option5 {
    margin-bottom: calc(100vh - 800px);
}

#timeline {
    margin: 0px 50px 50px 50px;
    position: absolute;
    bottom: 0;
    color: #CCCCCC;
}

.slider {
    margin-left: 10px;
}

.slider, .slider-horizontal, .slider-track {
    height: 5px !important;
    width: calc(100vw - 120px) !important;
    margin-top: 5px !important;
}

.tooltip {
    opacity: 1;
    background: none;
}

.tooltip-inner, .tooltip-arrow {
    color: #CC2936;
    background: none;
}

.slider-handle, .slider-selection, .tick-slider-selection {
    background-color: #CC2936 !important;
    background-image: none !important;
}

.slider-tick {
    opacity: 1 !important;
}